<h2 mat-dialog-title>Add Item:</h2>
<div>
  <p>
    <mat-form-field appearance="standard">
      <mat-select placeholder="Category" [(ngModel)]="itemCategory">
        <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <input matInput [formControl]="itemName" required placeholder="Name" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <input
      matInput
      [formControl]="itemPurchasedPrice"
      required
      placeholder="0.00"
      />
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
  </p>
    <mat-form-field appearance="standard">
      <input
      matInput
      [formControl]="itemCity"
      placeholder="City"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-select placeholder="State" [(ngModel)]="itemState">
        <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  <p>
    <mat-form-field appearance="standard">
      <input
      matInput
      [formControl]="itemSku"
      placeholder="Sku"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <textarea
      matInput
      rows="1"
      [(ngModel)]="itemDescription"
      placeholder="Description"
      ></textarea>
    </mat-form-field>
  </p>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="saveItem()">Add Item</button>
  </div>
</div>
